<style>
    @media screen and (max-width: 768px){
        .products-cards-home{
            grid-template-columns: repeat(1, 1fr) !important; 
            margin-bottom: 5vh !important;
        }
    }
</style>
<section class="products-section" id="popular-products">
    <div class="title-container">
        <h2 class="title">MARCAS</h2>
        <hr class="divider">
        <h2 class="subtitle">MARCAS POPULARES</h2>
    </div>

    <div class="product-cards products-cards-home">
        {% assign count = 0 %}
        {% for category in site.data.products %}
            {% for product in category.products %}
                {% if count < 3 %}
                    <div class="product-card" data-title="{{ product.brand }}">
                        <a href="{{ site.baseurl }}/products/?query={{ product.brand }}">
                            <img src="{{ product.brand_image }}" alt="{{ product.brand }}" class="product-image" style="width: 40vh; height: 40vh;">
                        </a>
                        <span class="product-label">{{ product.brand }}</span>
                        <h5 class="product-title">{{ product.brand }}</h5>
                    </div>
                    {% assign count = count | plus: 1 %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</section>
