.cart-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1100;
    top: 0;
    right: 0;
    background-color: var(--greengrow-verde-50);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}

/* Estilos para el contenido del carrito */
.cart-menu-content {
    padding: 20px;
}

.cart-menu-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--greengrow-verde-900);
}

.close-cart {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    color: var(--greengrow-verde-600);
}

.close-cart:hover {
    color: var(--greengrow-verde-900);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid var(--greengrow-verde-200);
    background-color: var(--greengrow-verde-50);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.cart-item img {
    max-width: 50px;
    margin-right: 10px;
}

.cart-item-title {
    flex: 1;
    font-size: 16px;
    color: var(--greengrow-verde-900);
}

.cart-item-quantity {
    font-size: 14px;
    color: var(--greengrow-verde-600);
}

.cart-total {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    color: var(--greengrow-verde-900);
}

/* Estilos para el botón PAGAR */
.pay-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: var(--greengrow-verde-500);
    color: var(--greengrow-verde-50);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pay-button:hover {
    background-color: var(--greengrow-verde-600);
}

/* Estilos para el botón de WhatsApp */
.whatsapp-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background-color: var(--greengrow-amarillo-700);
    color: var(--greengrow-verde-50);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.whatsapp-button:hover {
    background-color: var(--greengrow-amarillo-800);
}
