---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/productsSection.css">
<style>
    .btn-icon {
        background-color: #f0f0f0;
        border: none;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
    }

    .btn-icon i {
        color: #333;
        font-size: 20px;
    }

    .brand-image {
        width: 50px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .brand-name {
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
    }
</style>
<section class="about-us-section">
    <div class="about-us-text">
        <h2 style="margin-bottom: 2vh;">Sobre Nosotros</h2>
        <p>En nuestro growshop, nos apasiona el cultivo y el cuidado de las plantas. Ofrecemos productos de alta calidad y asesoramiento experto para ayudar a nuestros clientes a obtener los mejores resultados en sus cultivos. Ya sea que estés comenzando o seas un cultivador experimentado, estamos aquí para apoyarte en cada paso del camino.</p>
    </div>
</section>

<section class="products-section" style="background: white;" id="products">
    {% for category in site.data.products %}
    <hr class="divider" style="color: black;">
    <div class="category-container">
        <h2 class="category-title">{{ category.category }}</h2>
        <div class="product-cards">
            {% for product in category.products %}
            <div class="product-card" data-title="{{ product.title }}" data-brand="{{ product.brand }}">
                <img src="{{ product.image }}" alt="{{ product.title }}" class="product-image">
                <span class="product-label">{{ product.label }}</span>
                <span class="product-price">$ {{ product.price | number_format }}</span>
                <h5 class="product-title"><a href="{{ site.baseurl }}/products/{{ product.slug }}">{{ product.title }}</a></h5>
                <p class="product-desc">{{ product.description }}</p>
                <img src="{{ product.brand_image }}" alt="{{ product.brand }} Logo" class="brand-image">
                <div class="brand-name">{{ product.brand }}</div>
                <hr class="product-divider">
                <div class="product-footer">
                    <button class="buy-product">Buy Now</button>
                    <button onclick="addToCart('{{ product.title }}', '{{ product.price }}', '{{ category.category }}')" class="btn-icon">
                        <i class="fas fa-plus"></i>
                    </button>
                    <span style="color: #333;" id="quantity-{{ product.title }}">0</span>
                    <button onclick="removeFromCart('{{ product.title }}')" class="btn-icon">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button onclick="deleteFromCart('{{ product.title }}')" class="btn-icon">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        const query = urlParams.get('query') ? urlParams.get('query').toLowerCase() : '';
    
        // Selecciona todos los contenedores de categorías
        const categoryContainers = document.querySelectorAll('.category-container');
    
        categoryContainers.forEach(function(container) {
            // Inicialmente, asume que no hay productos visibles en esta categoría
            let hasVisibleProducts = false;
    
            // Selecciona todas las tarjetas de productos dentro del contenedor actual
            const products = container.querySelectorAll('.product-card');
    
            products.forEach(function(product) {
                const title = product.getAttribute('data-title').toLowerCase();
                const brand = product.getAttribute('data-brand').toLowerCase();
                if (title.includes(query) || brand.includes(query)) {
                    product.style.display = 'block'; // Muestra los productos que coinciden
                    hasVisibleProducts = true; // Encuentra al menos un producto visible
                } else {
                    product.style.display = 'none'; // Oculta los productos que no coinciden
                }
            });
    
            // Si no hay productos visibles, oculta todo el contenedor de la categoría
            if (!hasVisibleProducts) {
                container.style.display = 'none';
            }
        });
    });
</script>    